<section class="search-hero">
    <form class="search-form" id="search-form" >
        <label class="container">
        <input class="search-form__input-text" type="text" id="text" name="searchQuery" autocomplete="off" placeholder="Search images..." />    
        </label>        
        <button class = "search-form__button" type="submit"></button>
    </form>    
</section>    
    <div class="gallery"></div>
    <div class="scroll-detection"></div>
    <button type="button" class="load-more visually-hidden">Load more</button>


